.app{
  text-align: center;
  margin-top: 100px;
}

.submitButton{
  margin-top: 10px !important;
}

.appInput{
  width: 75vw;
}

.appHeader{
  margin-bottom: 20px;
  color: purple;
  font-family:cursive;
}

